.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .about-text {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .about-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .about-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    flex: 1 1 calc(50% - 20px); /* Two images per row with 10px gap */
    margin-bottom: 20px;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .about-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    .about-text {
      width: 60%;
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .about-images {
      width: 35%;
      margin-bottom: 0;
    }
  
    .about-image {
      flex: 1 1 calc(100%); /* One image per row */
    }
  }
  
  @media (max-width: 599px) {
    .about-text {
      font-size: 0.9rem;
    }
  
    .about-image {
      flex: 1 1 calc(100% - 20px); /* One image per row */
    }
  }
  